 body{
  background-color: #333333;
  font-family: Arial; 
  height: 100vh;
}
.menu{
  background-color: whitesmoke;
}
.menu li{
  list-style: none;
}
.menu ul{
  display: flex;
  justify-content: space-around;
}

a{
  color: teal;
  text-decoration: none;  
}
a:hover{
  text-decoration: underline;
}

.site-title, 
.site-subtitle{
  color: white;
  text-align: center;
}

.site-subtitle{
  font-style: italic;
}
